:root{
    --primary-color: rgb(17, 14, 48);
    --second-color: rgb(143, 36, 36);
    --terciary-color: rgb(17, 14, 48);
    --button-color: rgb(218, 107, 3);
    --title-font-color: rgb(233, 195, 27);
    --text-font-color: rgb(233, 195, 180);
    --text-font-size: 1.2em;
}